<div >
    <form (ngSubmit)="foodOptions()" class="container-fluid d-flex align-items-center justify-content-center custom-container ">
    <div class="col-md-8">
      <mat-card class="custom-card">
        <mat-card-header>
          <mat-card-title>Organism Actions</mat-card-title>
          
        </mat-card-header>
         
        <div class="row align-items-cneter justify-content-center">
          
          <div class="col-md-3">
            <div class="form-group">
            <mat-form-field class="custom-mat-select " appearance="outline">
                <mat-label>organismType</mat-label>
              <mat-select id="organismType" [(ngModel)]="selectedOrganism" name="selectedOrganism">
                <mat-option value="Human">Human</mat-option>
                <mat-option value="Lion">Lion</mat-option>
                <mat-option value="Cow">Cow</mat-option>
                <mat-option value="Parrot">Parrot</mat-option>
              </mat-select>
            </mat-form-field>
            </div>
          </div>
        
   
       
          
          <div class="col-md-3">
                <div class="form-group ">
                <mat-form-field class="custom-mat-select " appearance="outline">
                    <mat-label>Action</mat-label>
                <mat-select id="option2" [(ngModel)]="optionFood" name="optionFood">
                    <mat-option *ngFor="let food of updateFoodDropdown(selectedOrganism)" [value]="food">{{ food }}</mat-option>
                </mat-select>
                </mat-form-field>
          </div>
            </div>
        <div class="col-md-3 justify-content-center">
            <button mat-button color="warn" class="commonbtn" > Start Action </button>
          </div>
        </div>
        
        

          <div  class="form-group row"  >
            
            <label class="col-md-3 col-form-label text-md-right">Hydration Level</label>
                <div class="col-md-9" *ngIf="hydrationLevel">
                
                <span>Hydration :{{ hydrationLevel }} %</span>
                <div>Total water drank: {{ totalWaterDrank }} liters</div>
                    <img src="https://th.bing.com/th/id/R.1f18b1b3df3cf982ff6c5f6baf92da60?rik=lTxJt8vGp7jlHA&riu=http%3a%2f%2fwww.geocities.ws%2fnraisah%2fboy.gif&ehk=rTw6JLzkXFoO4jIln6yfje1H8EZWoR8NFDSSi%2bFsqr8%3d&risl=&pid=ImgRaw&r=0">
              
                </div>
                <div  class="col-md-9" *ngIf="sleepHour">
                    <div >sleep:{{sleepHour}} hours</div>
                    <img src="https://i.pinimg.com/originals/5a/3f/17/5a3f179831bf5587f8454e25549ea6a5.gif">
                    
                </div>
                <div  class="col-md-9" *ngIf="food">
                    <div >Food Intake:{{food}} Times a Day</div>
                    <img src="https://static01.nyt.com/images/2016/08/18/health/well_nutrition/well_nutrition-videoLarge-v3.gif">
                </div>
                <div  class="col-md-9" *ngIf="work">
                    <div >Daily work :{{work}} Hours a Day</div>
                    <img src="https://c.tenor.com/QwslkIJM87AAAAAC/tenor.gif">
                </div>
                <div class="col-md-9" *ngIf="lionhydrationLevel">
                    <span>Hydration :{{ lionhydrationLevel }} %</span>
                    <div>Total water drank: {{ totallionWaterDrank }} liters</div>
                    <img src="https://i.ytimg.com/vi/PH-r6T9SAHM/maxresdefault.jpg">
                  </div>
                  <div class="col-md-9" *ngIf="zebra">
                    <!-- <span>Hydration :{{ lionhydrationLevel }} %</span> -->
                    <div>Food Item:{{zebra}} eaten</div>
                    <img src="https://media.giphy.com/media/13Ub6gemozAiSk/giphy.gif">
                  </div>
                  <div class="col-md-9" *ngIf="chase">
                    
                    <div>Chasing Food Item:{{chase}} </div>
                    <img src="https://i.makeagif.com/media/4-12-2017/5VWDNQ.gif">
                  </div>
                  <div class="col-md-9" *ngIf="deer">
                    <!-- <span>Hydration :{{ lionhydrationLevel }} %</span> -->
                    <div>Food Item:{{deer}} eaten</div>
                    <img src="https://i.makeagif.com/media/9-03-2015/uSF_6v.gif">
                  </div>
                  <div class="col-md-9" *ngIf="cowhydrationLevel">
                    <span>Hydration :{{ cowhydrationLevel }} %</span>
                    <div>Total water drank: {{ cowtotalWaterDrank }} liters</div>
                    <img src="https://www.investorschampion.com/images/cow-drinking-lake-cattle-animal-rural-water.jpg">
                  </div>
                  <div class="col-md-9" *ngIf="grass">
                    <!-- <span>Hydration :{{ lionhydrationLevel }} %</span> -->
                    <div>Food Item:{{grass}} eaten</div>
                    <img src="https://i.giphy.com/17NA36aAT8WBxdodnu.webp">
                  </div>
                  <div class="col-md-9" *ngIf="Milk">
                    <!-- <span>Hydration :{{ lionhydrationLevel }} %</span> -->
                    <div>{{Milk}}</div>
                    <img src="https://bestanimations.com/Animals/Mammals/Bulls&Cows/cow-animation-3.gif">
                  </div>
                  <div class="col-md-9" *ngIf="parrothydrationLevel">
                    <span>Hydration :{{ parrothydrationLevel }} %</span>
                    <div>Total water drank: {{ parrottotalWaterDrank }} liters</div>
                    <img src="https://images.hive.blog/0x0/https://files.peakd.com/file/peakd-hive/shrazi/9c0j8dg3-waterforbirds.gif">
                  </div>
                  <div class="col-md-9" *ngIf="fly">
                    <!-- <span>Hydration :{{ lionhydrationLevel }} %</span> -->
                    <div>Action :{{fly}}</div>
                    <img src="https://c.tenor.com/XZ5Quakho2sAAAAC/tenor.gif">
                  </div>
                  <div class="col-md-9" *ngIf="fruits">
                    <!-- <span>Hydration :{{ lionhydrationLevel }} %</span> -->
                    <div>Action :{{fruits}}</div>
                    <img src="https://th.bing.com/th/id/R.b695a402fe19e64fec9641029c6bbd01?rik=b1sZ9wTYkWu3iw&riu=http%3a%2f%2fimg2.joyreactor.com%2fpics%2fpost%2fgif-bird-eat-cherry-871989.gif&ehk=91GctrelCyQ6XWBkz9xdmraR1Joi%2blmDSWlgCWPEACs%3d&risl=&pid=ImgRaw&r=0">
                  </div>
            </div>
          
            
            
          
      </mat-card>
    </div>
</form>
  </div>
  