
<div >
 <form  class="container-fluid d-flex align-items-center justify-content-center custom-container" (ngSubmit)="reproductionOrganism()">
    <div class="col-md-8">
      <mat-card class="container custom-card">
        <div class="row">
            <div class="col-md-12">
                <mat-card-header  >
                <mat-card-title class="align-item-center justify-content-center" >Reproduction</mat-card-title>
                <!-- <mat-card-subtitle>Start</mat-card-subtitle> -->
                </mat-card-header>
            </div>
        </div>  
       
        <div class="row align-items-cneter justify-content-center">
          <div class="col-md-4">
            <div class="form-group">
              
              <mat-form-field class="custom-mat-select" appearance="outline">
                <mat-label>Select organismType</mat-label>
                <mat-select id="organismType"  name="selectedWeatherType" [(ngModel)]="selectedWeatherType">
                  <mat-option value="Human">Human</mat-option>
                  <mat-option value="Lion">Lion</mat-option>
                  <mat-option value="Giraffee">Giraffee</mat-option>
                  <mat-option value="Eagle">Eagle</mat-option>
                  <mat-option value="Pigeon">Pigeon</mat-option>
                  <mat-option value="cell">cell</mat-option>
                  <!-- <mat-option value="Longevity and Iteroparity">Longevity and Iteroparity</mat-option> -->
                </mat-select>
              </mat-form-field>
            </div>

            
          </div>
          <div class="col-md-4">
            <button mat-button color="warn" class="commonbtn"> Start Reproduction</button>
        </div>
          </div>
         
        <div *ngIf="isLoading">
            <mat-spinner  diameter="50" color="primary"></mat-spinner>
        </div>
        <div class="cardcontainer mt-5  overflow-y-auto">
        <div class="row">
            <div class="col-md-4" *ngFor="let organism of organisms">
              <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <ng-container *ngIf="organism.species === 'Human'">
                            <img src="../../assets/images/vector-person-icon.jpg"  >
                        </ng-container>
                        <ng-container *ngIf="organism.species === 'Giraffee'">
                            <img src="../../assets/images/girafee.jpg"  >
                          </ng-container>
                          <ng-container *ngIf="organism.species === 'Lion'">
                            <img src="../../assets/images/lion.jpg"  >
                          </ng-container>
                          <ng-container *ngIf="organism.species === 'Pigeon'">
                            <img src="../../assets/images/pigeon.jpeg"  >
                          </ng-container>
                          <ng-container *ngIf="organism.species === 'Eagle'">
                            <img src="../../assets/images/eagle.jpg"  >
                          </ng-container>
                          <ng-container *ngIf="organism.species === 'cell'">
                            <img src="../../assets/images/cellimage.jpg"  >
                          </ng-container>
                        {{ organism.species }}
                      </h5>
                  <p class="card-text">Born: {{ organism.createdAt}}</p>
                  <button  type="button" color="warn" (click)="deleteOrganism(organism.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                  <!-- Add more fields as needed -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="row">
        <div class="col-md-6"> 
          <div class="form-group">
            <label for="option2">Select Option</label>
            <mat-form-field class="custom-mat-select">
              <mat-select id="option2">
                <mat-option *ngFor="let option of getOptions(selectedOrganismType)" [value]="option">{{ option }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        </div> -->
        
      </mat-card>
    </div>
</form>

  </div>
  
