<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" class="sidenav" [opened]="isSidenavOpen" [class.slideIn]="isSidenavOpen" [class.slideOut]="!isSidenavOpen">
      <mat-nav-list>
        <button mat-list-item class="weather">Year</button>

        <button mat-list-item class="enviornment">Enviornment</button>
        <button mat-list-item class="weather">Weather</button>      
        <button mat-list-item class="weather">Resource</button>
        <!-- <button mat-list-item class="weather">Population</button> -->
        <button mat-list-item class="weather">Organism</button>
        <button mat-list-item class="weather">Cell</button>
        <button mat-list-item class="weather">Predator</button>
        <button mat-list-item class="weather">Interaction</button>
        <button mat-list-item class="weather">Genetics</button>
        <button mat-list-item class="weather">Mutagen</button>
      </mat-nav-list>
     
    </mat-sidenav>
    <mat-sidenav-content>
      <!-- Your main content here -->
     
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  
