.sidenav-container {
    height: 100vh; /* Make the container full height */
   
  }
  
  .content {
    height: 100%; /* Make the content area full height */
  }
  .slideIn {
    animation: slideIn 0.3s ease-in-out;
  }
  mat-nav-list{
    background-color: aquamarine;
    justify-content: center;
    margin: 20px;
   
  }
  mat-sidenav{
    width: 15%;
    background-color: aquamarine;
    align-items: center !important;
    justify-content: center !important;
    
  }  
    
    button{
        margin: 10px;
        width: 75%;
        outline: none !important;
        border: none !important;
        border-radius: 10px;

    }  
  .slideOut {
    animation: slideOut 0.3s ease-in-out;
  }
  
  @keyframes slideIn {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slideOut {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  