.card{
    margin: 10px;
}
// .custom-card{
//     overflow: scroll;
// }
.cardcontainer{
    max-height: 300px;
    overflow: 100px;
}
.custom-card{
    background-color: aqua;
}
 img {
    width: 500px; /* Adjust the width of the icon */
    height: 300px; /* Adjust the height of the icon */
    margin-right: 8px; /* Add some spacing between the icon and text */
    /* Add more styling properties as needed */
  }